body, h1, h2, h3, h4, h5, h6, h7, p, a {
  margin: 0;
  padding: 0;
}

#graph {
  height: 100%;
  width: 100%;
  position: absolute;
  left: 300px;
  top: 0;
}

#sidebar {
  height: 100%;
  width: 300px;
  background-color: #ddd;
  border-right: solid 1px #000;
}

#sidebar h2 {
  text-align: center;
}
