body, h1, h2, h3, h4, h5, h6, h7, p, a {
  margin: 20px;
  padding: 0;
  color: rgba(95, 95, 95);
  text-align: justify;
}

#graph {
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  border-left: solid 1px #000;
}

#sidebar {
  width: 300px;
  background: rgba(205, 218, 236, 0.9);

  position: fixed;
  z-index: 1;
  font-family: Helvetica;
  padding: 10px;
}

#sidebar h2 {
  text-align: center;
}
