body, h1, h2, h3, h4, h5, h6, h7, p, a {
  margin: 0;
  padding: 0;
}

#graph {
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  border-left: solid 1px #000;
}

#sidebar {
  width: 300px;
  background: rgba(221, 221, 221 ,0.9);
  border-right: solid 1px #000;
  border-bottom: solid 1px #000;
  position: fixed;
  z-index: 1;
}

#sidebar h2 {
  text-align: center;
}
