<!DOCTYPE html>
<html>
    <head>
    <link rel="stylesheet" type="text/css" href="static/css/style.css" />
        <title>Hack@Brown</title>
    </head>
    <body>
        <div id="sidebar">
          <!-- <h2>Courses @ Brown </h2> -->
           <img src="static/logo_final.png">
           <form id="department_form">
            <label for="department">Department Code</label>
            <input autocomplete="off" type="text" id="department" />
           </form>
           <div id="node_details"></div>
           <div id="lists">
               <h4 id="too_big_title" class="no_select"><span>▶</span> Big Intro Classes</h4>
               <ul style="display: none;" id="too_big">
               </ul>
               <h4 id="no_connections_title" class="no_select"><span>▶</span> No Connections</h4>
               <ul style="display: none;" id="no_connections">
               </ul>
           </div>
        </div>
        <div id="graph"></div>
        <script type="text/javascript" src="static/js/parsed-json.js"></script>
        <script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
        <script type="text/javascript" src="static/js/springy.js"></script>
        <script type="text/javascript" src="static/js/cytoscape.min.js"></script>
        <script type="text/javascript" src="static/js/drawGraph.js"></script>
    </body>
</html>

